* {
    background-color: #DEF7DE;
    padding: 0;
    margin: 0;
    border: 1px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem;
    color: rgb(0, 128, 0);
}

header>p {
    font-size: 1.5rem;
    font-weight: 700;
}

header>ul {
    display: flex;
}

header>ul>li {
    list-style-type: none;
    margin-left: 1.5rem;
}

header>ul>li>a {
    color: green;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 5px;
}

header>ul>li:nth-child(4)>a {
    border-bottom: 2px solid rgb(26, 115, 54);
}

header>ul>li>a:hover {
    border-bottom: 2px solid gray;
}

section {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0.3rem;
    text-decoration: none;
    text-align: center;
}

footer {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

footer>a {
    color: rgb(90, 90, 90);
}

.container_1 {
    height: 300px;
    width: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

div>.startBtn {
    background-color: green;
}

div>.container_1 {
    width: 60%;
    vertical-align: middle;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column {
    border: 2px solid gray;
}

img {
    width: 200px;
    height: 200px;
}

.btn-wrap {
    float: right;
    width: 65%;
}

.startBtn {
    width: 10%;
    height: 70px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    background-color: green;
    color: #f2ecff;
    border-radius: 20px;
}

.startBtn:hover {
    opacity: 0.5;
    color: #f1f1e3;
}

.resetBtn {
    width: 10%;
    height: 70px;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid green;
    background-color: #f2ecff;
    color: green;
    border-radius: 20px;
}

.resetBtn:hover {
    opacity: 0.5;
    color: #013008;
}